.menuContainer {
    border: 1px solid #cdcdcd;
    margin-bottom: 20px;
}

.menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.menuItemActive {
    text-decoration: underline;
}

.signButton {
    background: transparent;
    border: none;
    color: #0d6efd;
}