.menuContainer {
    border: 1px solid #cdcdcd;
    margin-bottom: 20px;
}

.menu {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.menuItem {
    list-style-type: none;
}