.hotel {
    background: rgb(236 236 236);
    margin-bottom: 20px;
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
}

.description {
    color: grey;
    margin-top: 10px;
    font-size: 0.88rem;
    margin-bottom: 0;
}